@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Red+Hat+Mono:wght@400;500&display=swap');

:root {
  --color-primary: #fcb900;
  --font-primary:font-family: 'Red Hat Mono', monospace;
  --font-secundary: font-family: 'Rajdhani', sans-serif;
}


#header {
  height: 65px;
  text-align: center;
  font-family: var(--font-secundary);
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 17px;
  padding-top: 20px;
  width: 100%;
}

#options {
  height: 90px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  padding: 0 200px;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.icons {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 50px;
}

#line {
  border-left: solid black 1px;
  padding-left: 20px; /* Ajusta el valor según la separación deseada */
}

#lupa {
  transform: rotate(100deg);
}

.fa-solid {
  margin-left: 15px;
  font-size: 18px;
}

.carousel-item img {
  width: 100%;
  height: 773px;
}

.d-block {
  background-size: cover;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  text-align: center;
  font-family: var(--font-secundary);
  font-size: 50px;
  }

.carousel-caption h3 {
  font-family: var(--font-primary);
  font-size: 50px;
}

.carousel-caption button{
  background: none;
  color: white;
  font-size: 25px;
  
}

.subheader {
  min-height: 70px;
  background-color: var(--color-primary);
  font-family: var(--font-primary);
  padding-top: 20px;
}

.subheader > h2 {
  font-family: var(--font-primary);
  text-align: center;
  font-size: 18px;
}



/* .row {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.wrap {
 display: block;
 justify-content: center;
 align-items: center;
 max-width: 1505px;
 margin-left: 185px;
}

.text h2 {
  margin-top: 50px;
  
  font-family: var(--font-primary);
  letter-spacing: 2px;
  font-size: 40px;
}

.line {
  width: auto;
  height: 1px;
  background-color: black;
  margin: 0 auto 75px;
}



.cards{
  display: flex;
justify-content: center;
align-items: center;
  
}

.card{
width: 370px;
height: 485px;
margin: 5px;
  text-align: center;
}

#recomend {
  height: 710px;
  background-color: var(--color-primary);
  text-align: center;
}

#recomend article img {
  height: 120px;
  width: 85px;
  margin-top: 80px;
}

#recomend article h2 {
  margin: 25px;
  font-family: var(--font-primary);
  font-size: 30px;
}

#recomend article h3 {
 
  font-family: var(--font-primary);
  font-size: 45px;
  letter-spacing: 2px;
}
#recomend article p {
  width: auto ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  letter-spacing: 2px;
}

#recomend article button {
  font-family: var(--font-primary);
  font-size: 20px;
  background:none;
  border: 1px solid black;
  padding: 10px;
}

#recomend article button:hover{
  background-color: #000;
  color: white;
}

.hall{
  display: flex;
  justify-content: space-around;
}

#secondCarousel .carousel-item {
  display: flex;
}

#capsulas {
  background-color: var(--color-primary);
  display: flex;
  height: 550px;
  justify-content: space-around;
}

#capsulas article{
  display: block;
  justify-content: center;
  align-items: center;
  padding:120px 0 0 50px
}

#capsulas  img{
  padding-top: 79px;
}

#info {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
}

.final {
  height: 80px;
  background-color: black;
  color: white;
  text-align: center;
}

.final > p {
  padding-top: 35px;
}
